*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: linear-gradient(90deg, #000, #fff);
    height: 100vh;
    font-family: sans-serif;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200 200 200);
  letter-spacing: 1px;
  font-size: 1rem;
  box-shadow: 0 0 5px #fef;
}

td,
th {
  border: 1px solid rgb(190 190 190);
  padding: 15px 25px;
}

th {
  background-color: rgb(235 235 235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250 250 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245 245 245);
}

caption {
  padding: 10px;
  color: white;
  font-size: 23px;
  font-weight: 600;
}

.form-container {
  margin-top: 40px;
}

.book-title, .book-author, .book-pages {
  width: 200px;
  height: 25px;
  background-color: #fef;
  color: #000;
  font-size: 15px;
  font-weight: 450;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease;
}

label {
  font-size: 23px;
  margin-right: 7px;
  color: #000;
  font-weight: 550;
}

.input-container {
  padding-bottom: 20px;
}

.is-read {
  width: 15px;
  height: 20px;
}

.submit-btn {
  color: #fef;
  background-color: rgb(22, 6, 6);
  width: 200px;
  height: 70px;
  font-size: 23px;
  font-weight: 550;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: 0 0 7px #2b2a2a;
  cursor: pointer;
}

.toggle-read-btn, .delete-btn {
  color: #000;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}